body {
    background-color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    /* margin: 0 auto; */
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    align-items: center;
    background-color: #f0f0f0;
    /* box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.62); */
    border-radius: 10px;
    width: 90vw;
    padding: 10px;
}

.main-current-weather-pt1 {
    display: flex;
}

.main-current-weather-pt1 img {
    width: 150%;
}

.main-current-weather-pt2 {
    display: flex;
}

.main-current-weather-pt2 p, .main-current-weather-pt3 p{
    margin: 20px;
    text-align: center;
}

.main-current-weather-pt3 {
    display: flex;
}