body {
    background-color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.weather-wrap {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,.3);
    color: #f0f0f0;
    border-radius: 10px;
    width: 40vw;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 80vw;
    }
}

.main-current-weather-pt1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-current-weather-pt1 img {
    width: 150px;
    padding-left: 20px;
}

.main-current-weather-pt2 {
    display: flex;
}

.main-current-weather-pt2 p, .main-current-weather-pt3 p{
    margin: 20px;
    text-align: center;
}

.main-current-weather-pt3 {
    display: flex;
}

.main-current-weather-pt3 img {
    width: 50px;
}

.forecast-btn {
    background-image: linear-gradient(to bottom, #546169, #92a5b0);
    border-radius: 28px;
    border: 2px solid #c6c6c6;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .forecast-btn:hover {
    background-image: linear-gradient(to bottom, #92a5b0, #546169);
    text-decoration: none;
  }

  /* 8 DAY FORECAST */

.forecast-day {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   align-items: center;
}

.forecast-day ul {
    list-style-type: none;
    padding: 0 35px;
}

.forecast-day p {
    margin: 0px;
    font-size: 1.3rem;
}

.forecast-day img {
    margin-top: 20px;
    width: 80px;
}

.active {
    display: none;
}
